RewriteBase /report-status/

# API root is /statuslog
RewriteRule ^(statuslog(/.*)?)$ logapi.php/$1 [L,QSA]

# Directory search sends full log
RewriteRule ^$ log.php [L,QSA]

# Disallow access to library files
RewriteRule ^php-crud-api/ - [F]

# Disallow access to non-php files
RewriteCond %{REQUEST_FILENAME} !.php
RewriteRule . - [F]

# Access control
AuthType Basic
AuthName "Report Status source"
AuthUserFile /etc/apache2/htpasswd

#  Current rules:
#   (remember there is an implied <RequireAny> at the top level)
#  GET access does not require auth
Require method GET
#  PUT (i.e. logging) requires any user - each source should have a separate user
#   and requires a source on the VPN or home or local
#  Other methods (i.e. DB manipulation) also require the username begins "full-"
#   but this is enforced in the PHP, not here
<RequireAll>
  Require valid-user
  <RequireAny>
    Require ip 192.168.0.0/16
    Require local
    Require ip 81.2.91.93
    Require ip 94.30.60.202
# The lines below can replace the two lines above once Apache 2.4.19 is installed
#    Require forward-dns aa-gw.aaisp.cobb.me.uk
#    Require forward-dns coop-gw.phonecoop.cobb.me.uk
  </RequireAny>
</RequireAll>
